application/config/config.php
application/config/database.php
system/
.env
database/cache/
application/cache/
tmp/*
vendor/
node_modules/
phinx.php

#freelancers storage
asset/freelancers/requirements/*
asset/employees/requirements/*
asset/freelancers/*
asset/employees/*

#passports
asset/passports/*

# storage
storage/users/*
storage/signatures/*
storage/sets/*
storage/requests/*
storage/reports/*
storage/flight_details/*
storage/documents/*
storage/equipments/*
storage/quotations/*
storage/settings/*
!storage/users/user_profile.png
!storage/signatures/index.html
!storage/sets/index.html
!storage/requests/index.html
!storage/reports/index.html
!storage/flight_details/index.html
!storage/documents/index.html
!storage/equipments/index.html
